In [1]:
#!pip install tabula-py

In [2]:
import tabula
import pandas as pd
import itertools

In [3]:
def get_column_list(dataframe_obj):
    '''
    Puts all the column names from a list of dataframes into a list
    
    input: list of dataframes
    output: lists of column names from all the dataframes
    '''
    columns = [list(dataframe_obj[i].columns) for i in range(len(dataframe_obj))]
    return columns

def get_series_list(dataframe_obj, columns_list):
    '''
    Turns all the columns in each of the dataframes to series and puts them all in a list
    
    input: list of dataframes and the column list from get_column_list
    output: list of panda series objects
    '''
    series_list = [dataframe_obj[i] for i in columns_list]
    series_list2 = [series_list[i].dropna() for i in range(len(series_list))]
    return series_list2

def append_columns(filtered_columns, to_series):
    '''
    Appends items to a pandas series object
    
    input: items to append and an object to append them to
    output: a series object with the appended items
    '''
    to_append = pd.Series(filtered_columns) 
    return to_series.append(to_append, ignore_index=True)

##### Will output a list of dataframes (1 for each table in the pdf) BUT
1) The table has lost nearly all its organization

2) Some of the column names should actually be row values

3) NaN values litter the output

In [ ]:
df = tabula.read_pdf(r"C:\Users\rayde\Downloads\2020-2021-Approved-Stock-List-20200926.pdf", pages = 'all', lattice = False, multiple_tables=True)
df

In [5]:
#Get the list of columns in each of the dataframes 
columns_list = get_column_list(df)

In [6]:
columns_list

[['Abercrombie & Fitch',
  'ANF',
  'New York Stock',
  'Small Value',
  'Retail',
  'Specialty retail'],
 ['China Tourism Group',
  '601888',
  'Shanghai Stock Exchange',
  'Large Growth',
  'Leisure',
  'Hotel/motel'],
 ['Imax Corp',
  'IMAX',
  'New York Stock',
  'Small Growth',
  'Media',
  'Entertainment'],
 ['Nike Inc',
  'NKE',
  'New York Stock',
  'Large Growth',
  'Consumer Products',
  'Textiles apparel'],
 ['Colgate-Palmolive Co',
  'CL',
  'New York Stock',
  'Large Value',
  'Personal Care, Drug',
  'Personal care'],
 ['Nestle India Ltd',
  '500790',
  'BSE LTD',
  'Large Growth',
  'Food, Beverage &',
  'Foods'],
 ['Unnamed: 0',
  'Unnamed: 1',
  'Unnamed: 2',
  'Unnamed: 3',
  'Tobacco',
  'Unnamed: 4',
  'Aemetis Inc',
  'AMTX',
  'Nasdaq',
  'Small Blend',
  'Alternative Energy',
  'Alternative energy'],
 ['Unnamed: 0',
  'Unnamed: 1',
  'Unnamed: 2',
  'EQUITY',
  'RUSSELL',
  'RUSSELL INDUST',
  'ENERGY',
  'Unnamed: 3',
  'Unnamed: 4',
  'Unnamed: 5',
  'Unnamed: 6',
  'Unnamed: 7'],
 ['PetroChina Co Ltd',
  '00857',
  'Hong Kong Exchanges',
  'Large Blend',
  'Non-renewable',
  'Oil: Integrated'],
 ['A$ac Inc',
  'AFL',
  'New York Stock',
  'Large Value',
  'Insurance',
  'Insurance: Life'],
 ['BR Malls Participacoes',
  'BRML3',
  'B3 S.A. - Brasil, Bolsa,',
  'Mid Value',
  'Real Estate',
  'Real estate holding'],
 ['Max Financial Services',
  '500271',
  'BSE LTD',
  'Mid Blend',
  'Insurance',
  'Insurance: Life'],
 ['Sul America SA',
  'SULA11',
  'B3 S.A. - Brasil, Bolsa,',
  'Not Available',
  'Insurance',
  'Insurance: Multi-'],
 ['Cardiovascular',
  'CSII',
  'Nasdaq',
  'Small Growth',
  'Medical Equipment',
  'Medical & dental'],
 ['Regeneron',
  'REGN',
  'Nasdaq',
  'Large Growth',
  'Pharmaceuticals &',
  'Biotechnology'],
 ['Anhui Conch Cement',
  '600585',
  'Shanghai Stock Exchange',
  'Large Blend',
  'Building Materials',
  'Cement'],
 ['Freeport-McMoRan',
  'FCX',
  'New York Stock',
  'Mid Blend',
  'Metals & Minerals',
  'Copper'],
 ['China Eastern Airlines',
  'CEA',
  'New York Stock',
  'Large Value',
  'Transportation &',
  'Air transport'],
 ['Rumo SA',
  'RAIL3',
  'B3 S.A. - Brasil, Bolsa,',
  'Large Growth',
  'Transportation &',
  'Transportation'],
 ['Adobe Inc',
  'ADBE',
  'Nasdaq',
  'Large Growth',
  'Information',
  'Computer services'],
 ['Arista Networks Inc',
  'ANET',
  'New York Stock',
  'Mid Growth',
  'Information',
  'Computer services'],
 ['American Electric',
  'AEP',
  'New York Stock',
  'Large Value',
  'Utilities',
  'Utilities: Electrical'],
 ['ENGIE Brasil Energia',
  'EGIE3',
  'B3 S.A. - Brasil, Bolsa,',
  'Large Blend',
  'Utilities',
  'Utilities: Electrical'],
 ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'EQUITY', 'RUSSELL', 'Unnamed: 3']]

#### Because Tabula outputs messy data for this pdf, we will need to: 
    1. Turn each dataframe into a list of pandas series objects to remove the columns (We only want one column)
    2. Use pd.concat to rebuild the series objects into pandas objects with only one column

##### The cell below turns each dataframe into a list of series.

In [7]:
series_list = [get_series_list(df[x], columns_list[x]) for x in range(len(df))]
series_list

[[0                        Co
  1       Acorn International
  2                       Inc
  3            Amazon.com Inc
  4            American Eagle
  5             Out!tters Inc
  6                 Aptiv PLC
  8         Avon Products Inc
  10          B2W - Companhia
  11                  Digital
  12           Bajaj Auto Ltd
  14           Barnes & Noble
  15            Education Inc
  16           Bata India Ltd
  18        Bed Bath & Beyond
  19                      Inc
  20          Best Buy Co Inc
  22           BorgWarner Inc
  24                Bosch Ltd
  25      Boyd Group Services
  26                      Inc
  27             Build-A-Bear
  28             Workshop Inc
  29    Burlington Stores Inc
  31             Canada Goose
  32             Holdings Inc
  33               CarMax Inc
  35             Carnival PLC
  36       Cheesecake Factory
  37                      Inc
  38         China Automotive
  39              Systems Inc
  Name: Abercrombie & Fitch, dtype: object, 1        ATV
  3       AMZN
  4        AEO
  6       APTV
  8        AVP
  10     BTOW3
  12    532977
  14      BNED
  16    500043
  18      BBBY
  20       BBY
  22       BWA
  24    500530
  25       BYD
  27       BBW
  29      BURL
  31      GOOS
  33       KMX
  35       CCL
  36      CAKE
  38      CAAS
  Name: ANF, dtype: object, 0               Exchange, Inc.
  1               New York Stock
  2               Exchange, Inc.
  3                       Nasdaq
  4               New York Stock
  5               Exchange, Inc.
  6               New York Stock
  7               Exchange, Inc.
  8               New York Stock
  9               Exchange, Inc.
  10    B3 S.A. - Brasil, Bolsa,
  11                      Balcão
  12                     BSE LTD
  14              New York Stock
  15              Exchange, Inc.
  16                     BSE LTD
  18                      Nasdaq
  20              New York Stock
  21              Exchange, Inc.
  22              New York Stock
  23              Exchange, Inc.
  24                     BSE LTD
  25      Toronto Stock Exchange
  27              New York Stock
  28              Exchange, Inc.
  29              New York Stock
  30              Exchange, Inc.
  31      Toronto Stock Exchange
  33              New York Stock
  34              Exchange, Inc.
  35       London Stock Exchange
  36                      Nasdaq
  38                      Nasdaq
  Name: New York Stock, dtype: object, 1     Not Available
  3      Large Growth
  4       Small Value
  6        Mid Growth
  8      Small Growth
  10     Large Growth
  12      Large Blend
  14      Small Blend
  16       Mid Growth
  18      Small Value
  20        Mid Value
  22        Mid Value
  24      Large Value
  25       Mid Growth
  27      Small Value
  29       Mid Growth
  31       Mid Growth
  33       Mid Growth
  35      Small Value
  36      Small Value
  38      Small Value
  Name: Small Value, dtype: object, 1                 Media
  3                Retail
  4                Retail
  6     Auto & Auto Parts
  8     Consumer Products
  10               Retail
  12              Leisure
  14               Retail
  16    Consumer Products
  18               Retail
  20               Retail
  22    Auto & Auto Parts
  24    Auto & Auto Parts
  25    Auto & Auto Parts
  27               Retail
  29               Retail
  31    Consumer Products
  33               Retail
  35              Leisure
  36              Leisure
  38    Auto & Auto Parts
  Name: Retail, dtype: object, 1            Advertising
  2               agencies
  3      Diversi!ed retail
  4       Specialty retail
  6             Auto parts
  8              Cosmetics
  10     Diversi!ed retail
  12          Recreational
  13    vehicles and boats
  14      Specialty retail
  16      Textiles apparel
  17             and shoes
  18      Specialty retail
  20      Specialty retail
  22            Auto parts
  24            Auto parts
  25         Auto services
  27      Specialty retail
  29      Specialty retail
  31      Textiles apparel
  32             and shoes
  33      Specialty retail
  35          Leisure time
  36           Restaurants
  38            Auto parts
  Name: Specialty retail, dtype: object], [0         Duty Free Corp Ltd
  1     Chipotle Mexican Grill
  2                        Inc
  3               Comcast Corp
  5          Compass Group PLC
  7          Core-Mark Holding
  8                     Co Inc
  9           Costco Wholesale
  10                      Corp
  11        Daily Journal Corp
  12       Dollar General Corp
  14           Dollar Tree Inc
  15             Dollarama Inc
  16        Domino’s Pizza Inc
  18           Foot Locker Inc
  20             Ford Motor Co
  22                   Gap Inc
  24         General Motors Co
  26             H&R Block Inc
  28       Harley-Davidson Inc
  30                Hasbro Inc
  31         Hero MotoCorp Ltd
  33        Hibbett Sports Inc
  34        Honda Motor Co Ltd
  36         Hostelworld Group
  37                       PLC
  38         Hyatt Hotels Corp
  Name: China Tourism Group, dtype: object, 1        CMG
  3      CMCSA
  5        CPG
  7       CORE
  9       COST
  11      DJCO
  12        DG
  14      DLTR
  15       DOL
  16       DPZ
  18        FL
  20         F
  22       GPS
  24        GM
  26       HRB
  28       HOG
  30       HAS
  31    500182
  33      HIBB
  34       HMC
  36       HSW
  38         H
  Name: 601888, dtype: object, 1             New York Stock
  2             Exchange, Inc.
  3                     Nasdaq
  5      London Stock Exchange
  7                     Nasdaq
  9                     Nasdaq
  11                    Nasdaq
  12            New York Stock
  13            Exchange, Inc.
  14                    Nasdaq
  15    Toronto Stock Exchange
  16            New York Stock
  17            Exchange, Inc.
  18            New York Stock
  19            Exchange, Inc.
  20            New York Stock
  21            Exchange, Inc.
  22            New York Stock
  23            Exchange, Inc.
  24            New York Stock
  25            Exchange, Inc.
  26            New York Stock
  27            Exchange, Inc.
  28            New York Stock
  29            Exchange, Inc.
  30                    Nasdaq
  31                   BSE LTD
  33                    Nasdaq
  34            New York Stock
  35            Exchange, Inc.
  36     London Stock Exchange
  38            New York Stock
  39            Exchange, Inc.
  Name: Shanghai Stock Exchange, dtype: object, 1     Large Growth
  3      Large Value
  5      Large Blend
  7      Small Blend
  9      Large Blend
  11    Small Growth
  12     Large Blend
  14       Mid Blend
  15      Mid Growth
  16      Mid Growth
  18     Small Blend
  20     Large Value
  22       Mid Value
  24     Large Blend
  26     Small Value
  28     Small Value
  30       Mid Blend
  31     Large Value
  33     Small Blend
  34     Large Value
  36     Small Value
  38       Mid Blend
  Name: Large Growth, dtype: object, 1               Leisure
  3                 Media
  5     Consumer Services
  7                Retail
  9                Retail
  11                Media
  12               Retail
  14               Retail
  15               Retail
  16              Leisure
  18               Retail
  20    Auto & Auto Parts
  22               Retail
  24    Auto & Auto Parts
  26    Consumer Services
  28              Leisure
  30    Consumer Products
  31              Leisure
  33               Retail
  34    Auto & Auto Parts
  36              Leisure
  38              Leisure
  Name: Leisure, dtype: object, 1            Restaurants
  3       Cable television
  4               services
  5            Vending and
  6      catering services
  7      Diversi!ed retail
  9      Diversi!ed retail
  11            Publishing
  12     Diversi!ed retail
  14     Diversi!ed retail
  15     Diversi!ed retail
  16           Restaurants
  18      Specialty retail
  20           Automobiles
  22      Specialty retail
  24           Automobiles
  26    Consumer services:
  27         Miscellaneous
  28          Recreational
  29    vehicles and boats
  30                  Toys
  31          Recreational
  32    vehicles and boats
  33      Specialty retail
  34           Automobiles
  36          Leisure time
  38           Hotel/motel
  Name: Hotel/motel, dtype: object], [1           InterContinental
  2           Hotels Group PLC
  3         Jubilant Foodworks
  4                        Ltd
  5             Lands’ End Inc
  6       Las Vegas Sands Corp
  8         LCI Industries Inc
  10    Localiza Rent A Car SA
  12       Lojas Americanas SA
  14           Lojas Renner SA
  16               Lookers PLC
  17       Lululemon Athletica
  18                       Inc
  19                  Lyft Inc
  21                Macy’s Inc
  23         Magazine Luiza SA
  25       Mahindra & Mahindra
  26                       Ltd
  27    Marriott International
  28                       Inc
  29       Maruti Suzuki India
  30                       Ltd
  31                Mattel Inc
  32           McDonald’s Corp
  34        Midea Group Co Ltd
  36          Movado Group Inc
  38              New Oriental
  39               Education &
  40      Technology Group Inc
  41                  Next PLC
  Name: Imax Corp, dtype: object, 1        IHG
  3     533155
  5         LE
  6        LVS
  8       LCII
  10     RENT3
  12     LAME4
  14     LREN3
  16      LOOK
  17      LULU
  19      LYFT
  21         M
  23     MGLU3
  25    500520
  27       MAR
  29    532500
  31       MAT
  32       MCD
  34    000333
  36       MOV
  38       EDU
  41       NXT
  Name: IMAX, dtype: object, 0               Exchange, Inc.
  1        London Stock Exchange
  3                      BSE LTD
  5                       Nasdaq
  6               New York Stock
  7               Exchange, Inc.
  8               New York Stock
  9               Exchange, Inc.
  10    B3 S.A. - Brasil, Bolsa,
  11                      Balcão
  12    B3 S.A. - Brasil, Bolsa,
  13                      Balcão
  14    B3 S.A. - Brasil, Bolsa,
  15                      Balcão
  16       London Stock Exchange
  17                      Nasdaq
  19                      Nasdaq
  21              New York Stock
  22              Exchange, Inc.
  23    B3 S.A. - Brasil, Bolsa,
  24                      Balcão
  25                     BSE LTD
  27                      Nasdaq
  29                     BSE LTD
  31                      Nasdaq
  32              New York Stock
  33              Exchange, Inc.
  34     Shenzhen Stock Exchange
  36              New York Stock
  37              Exchange, Inc.
  38              New York Stock
  39              Exchange, Inc.
  41       London Stock Exchange
  Name: New York Stock, dtype: object, 1         Mid Blend
  3        Mid Growth
  5       Small Blend
  6       Large Value
  8      Small Growth
  10     Large Growth
  12     Large Growth
  14     Large Growth
  16      Small Value
  17     Large Growth
  19    Not Available
  21      Small Value
  23     Large Growth
  25      Large Blend
  27      Large Value
  29      Large Blend
  31      Small Blend
  32      Large Blend
  34      Large Blend
  36      Small Value
  38    Not Available
  41        Mid Blend
  Name: Small Growth, dtype: object, 1               Leisure
  3               Leisure
  5                Retail
  6               Leisure
  8               Leisure
  10    Consumer Services
  12               Retail
  14               Retail
  16               Retail
  17    Consumer Products
  19    Consumer Services
  21               Retail
  23               Retail
  25    Auto & Auto Parts
  27              Leisure
  29    Auto & Auto Parts
  31    Consumer Products
  32              Leisure
  34    Consumer Products
  36    Consumer Products
  38    Consumer Services
  41               Retail
  Name: Media, dtype: object, 1            Hotel/motel
  3            Restaurants
  5      Diversi!ed retail
  6            Casinos and
  7               gambling
  8           Recreational
  9     vehicles and boats
  10    Rental and leasing
  11    services: Consumer
  12     Diversi!ed retail
  14     Diversi!ed retail
  16      Specialty retail
  17      Textiles apparel
  18             and shoes
  19    Consumer services:
  20         Miscellaneous
  21     Diversi!ed retail
  23     Diversi!ed retail
  25           Automobiles
  27           Hotel/motel
  29           Automobiles
  31                  Toys
  32           Restaurants
  34             Household
  35            appliances
  36          Luxury items
  38    Education services
  41     Diversi!ed retail
  Name: Entertainment, dtype: object], [1     Norwegian Cruise Line
  2              Holdings Ltd
  3         On "e Beach Group
  4                       PLC
  5               Papa John’s
  6         International Inc
  7               Pearson PLC
  8        Planet Fitness Inc
  10     Red Lion Hotels Corp
  12        Restaurant Brands
  13        International Inc
  14               Revlon Inc
  16             Ritchie Bros
  17          Auctioneers Inc
  18       Sirius XM Holdings
  19                      Inc
  20           Smith & Wesson
  21               Brands Inc
  22           Starbucks Corp
  23           Stitch Fix Inc
  24      Tailored Brands Inc
  26      TAL Education Group
  28              Target Corp
  30          Tata Motors Ltd
  31                Tesla Inc
  32      Texas Roadhouse Inc
  33       "e Container Store
  34                Group Inc
  35          "e Estee Lauder
  36            Companies Inc
  37        "e Walt Disney Co
  39            "e Wendy’s Co
  40              Ti#any & Co
  Name: Nike Inc, dtype: object, 1       NCLH
  3        OTB
  5       PZZA
  7       PSON
  8       PLNT
  10       RLH
  12       QSR
  14       REV
  16       RBA
  18      SIRI
  20      SWBI
  22      SBUX
  23      SFIX
  24      TLRD
  26       TAL
  28       TGT
  30    500570
  31      TSLA
  32      TXRH
  33       TCS
  35        EL
  37       DIS
  39       WEN
  40       TIF
  Name: NKE, dtype: object, 0             Exchange, Inc.
  1             New York Stock
  2             Exchange, Inc.
  3      London Stock Exchange
  5                     Nasdaq
  7      London Stock Exchange
  8             New York Stock
  9             Exchange, Inc.
  10            New York Stock
  11            Exchange, Inc.
  12    Toronto Stock Exchange
  14            New York Stock
  15            Exchange, Inc.
  16            New York Stock
  17            Exchange, Inc.
  18                    Nasdaq
  20                    Nasdaq
  22                    Nasdaq
  23                    Nasdaq
  24            New York Stock
  25            Exchange, Inc.
  26            New York Stock
  27            Exchange, Inc.
  28            New York Stock
  29            Exchange, Inc.
  30                   BSE LTD
  31                    Nasdaq
  32                    Nasdaq
  33            New York Stock
  34            Exchange, Inc.
  35            New York Stock
  36            Exchange, Inc.
  37            New York Stock
  38            Exchange, Inc.
  39                    Nasdaq
  40            New York Stock
  41            Exchange, Inc.
  Name: New York Stock, dtype: object, 1         Mid Blend
  3      Small Growth
  5      Small Growth
  7         Mid Value
  8        Mid Growth
  10      Small Blend
  12      Large Blend
  14      Small Value
  16       Mid Growth
  18      Large Blend
  20      Small Blend
  22      Large Blend
  23     Small Growth
  24      Small Value
  26    Not Available
  28      Large Blend
  30      Large Value
  31     Large Growth
  32     Small Growth
  33      Small Value
  35      Large Blend
  37      Large Blend
  39        Mid Blend
  40        Mid Blend
  Name: Large Growth, dtype: object, 1               Leisure
  3               Leisure
  5               Leisure
  7     Consumer Services
  8               Leisure
  10              Leisure
  12              Leisure
  14    Consumer Products
  16    Consumer Services
  18                Media
  20              Leisure
  22              Leisure
  23               Retail
  24               Retail
  26    Consumer Services
  28               Retail
  30    Auto & Auto Parts
  31    Auto & Auto Parts
  32              Leisure
  33               Retail
  35    Consumer Products
  37                Media
  39              Leisure
  40    Consumer Products
  Name: Consumer Products, dtype: object, 0              and shoes
  1           Leisure time
  3           Leisure time
  5            Restaurants
  7     Education services
  8           Leisure time
  10           Hotel/motel
  12           Restaurants
  14             Cosmetics
  16    Consumer services:
  17         Miscellaneous
  18          Radio and TV
  19          broadcasters
  20          Leisure time
  22           Restaurants
  23     Diversi!ed retail
  24      Specialty retail
  26    Education services
  28     Diversi!ed retail
  30           Automobiles
  31           Automobiles
  32           Restaurants
  33      Specialty retail
  35             Cosmetics
  37         Entertainment
  39           Restaurants
  40          Luxury items
  Name: Textiles apparel, dtype: object], [1     Companhia Brasileira
  2          De Distribuicao
  3              Corteva Inc
  5          CVS Health Corp
  7        General Mills Inc
  9       Godrej Agrovet Ltd
  11         Godrej Consumer
  12            Products Ltd
  13      Hindustan Unilever
  14                     Ltd
  15                 ITC Ltd
  Name: Colgate-Palmolive Co, dtype: object, 1      PCAR4
  3       CTVA
  5        CVS
  7        GIS
  9     540743
  11    532424
  13    500696
  15    500875
  Name: CL, dtype: object, 0               Exchange, Inc.
  1     B3 S.A. - Brasil, Bolsa,
  2                       Balcão
  3               New York Stock
  4               Exchange, Inc.
  5               New York Stock
  6               Exchange, Inc.
  7               New York Stock
  8               Exchange, Inc.
  9                      BSE LTD
  11                     BSE LTD
  13                     BSE LTD
  15                     BSE LTD
  Name: New York Stock, dtype: object, 1         Mid Value
  3     Not Available
  5       Large Value
  7       Large Value
  9         Mid Blend
  11      Large Blend
  13     Large Growth
  15      Large Blend
  Name: Large Value, dtype: object, 0        & Grocery Stores
  1     Personal Care, Drug
  2        & Grocery Stores
  3        Food, Beverage &
  4                 Tobacco
  5     Personal Care, Drug
  6        & Grocery Stores
  7        Food, Beverage &
  8                 Tobacco
  9        Food, Beverage &
  10                Tobacco
  11    Personal Care, Drug
  12       & Grocery Stores
  13    Personal Care, Drug
  14       & Grocery Stores
  15       Food, Beverage &
  16                Tobacco
  Name: Personal Care, Drug, dtype: object, 1       Drug and grocery
  2           store chains
  3                  Foods
  5       Drug and grocery
  6           store chains
  7                  Foods
  9     Agriculture !shing
  10          and ranching
  11         Personal care
  13         Personal care
  15               Tobacco
  Name: Personal care, dtype: object], [1                 PepsiCo Inc
  3         Procter & Gamble Co
  5            Raia Drogasil SA
  7           Reckitt Benckiser
  8                   Group PLC
  9               Rite Aid Corp
  11          Sainsbury (J) PLC
  13            Sprouts Farmers
  14                 Market Inc
  15                 Sysco Corp
  17              "e Hershey Co
  19    Tootsie Roll Industries
  20                        Inc
  21        Treehouse Foods Inc
  23            Tyson Foods Inc
  25               Unilever PLC
  27               Unilever PLC
  29       United Natural Foods

3. Run pd.concat on each list of series and then again on the output
4. Once we run pd.concat for the second time, we will have a dataframe with only one column 

##### The cell below turns our list of list of pandas series objects into one pandas object with one column

In [8]:
data = list(map(lambda x: pd.concat(series_list[x], ignore_index=True), range(len(series_list))))
data = pd.concat(data)
data

0                      Co
1     Acorn International
2                     Inc
3          Amazon.com Inc
4          American Eagle
             ...
30             Utilities:
31     Telecommunications
32             Utilities:
33     Telecommunications
34             Utilities:
Length: 2534, dtype: object

###### Two filters
3. Filter the series by length<7 because the tickers all have less than seven characters (Some of the tickers are quite long)
4. Filter by words we don't want that are less than seven characters in length.

##### The cell below filters data by character length and words less than 7 characters that we don't want in our list

In [9]:
bad_words = ["Retail", "Media", "Foods", "Nasdaq", "EQUITY", "Cement", "Copper", "ENERGY", "Inc", "Co", "STYLE", "TICKER", "Balcão"]
filtered_data = data[(data.str.len()<7) & (data.isin(bad_words)==False)]
filtered_data

32     ATV
33    AMZN
34     AEO
35    APTV
36     AVP
      ...
2      PLC
8      UU.
9       VZ
10     VOD
11     VOD
Length: 406, dtype: object

##### Tabula took some of the tickers from the PDF file and assigned them to column names. 
We want to make sure we don't leave any of the tickers out. So, we also need to: 
5. Filter the column list by bad words and length less than 7 
6. Append to the filtered_data pandas series object.

##### The cell below uses itertools to unzip the list of lists of column names into one list and then filters it.

In [10]:
'''
Unzips the column list and puts all the column names into one list (versus having a list of lists)
'''

columns_one_list = list(itertools.chain.from_iterable(columns_list)) #itertools will turn the list of list into one list
columns_list_filtered = [x for x in columns_one_list if (len(x) < 7) & (x not in bad_words)] #Filter by less than 7 and bad words

In [11]:
#append the columns to the filtered_data_series
final_lists = append_columns(columns_list_filtered, filtered_data)

In [12]:
final_lists

0        ATV
1       AMZN
2        AEO
3       APTV
4        AVP
       ...
423    RAIL3
424     ADBE
425     ANET
426      AEP
427    EGIE3
Length: 428, dtype: object

##### There are duplicates in our pandas series
7. Remove duplicate values

In [13]:
final_lists[final_lists=='VOD']

404    VOD
405    VOD
dtype: object

In [14]:
#We need to drop duplicates
final_lists = final_lists.drop_duplicates()

In [15]:
final_lists

0        ATV
1       AMZN
2        AEO
3       APTV
4        AVP
       ...
423    RAIL3
424     ADBE
425     ANET
426      AEP
427    EGIE3
Length: 346, dtype: object

In [16]:
final_lists.to_excel('stocklist.xlsx')