In [4]:
##Time Series: Resampling operations during frequency conversion 
import numpy as np
import pandas as pd

In [ ]:
#Alias   Description
#B       business day frequency
#C       custom business day frequency (experimental)
#D       calendar day frequency
#W       weekly frequency
#M       month end frequency
#BM      business month end frequency
#CBM     custom business month end frequency
#MS      month start frequency
#BMS     business month start frequency
#CBMS    custom business month start frequency
#Q       quarter end frequency
#BQ      business quarter endfrequency
#QS      quarter start frequency
#BQS     business quarter start frequency
#A       year end frequency
#BA      business year end frequency
#AS      year start frequency
#BAS     business year start frequency
#BH      business hour frequency
#H       hourly frequency
#T, min  minutely frequency
#S       secondly frequency
#L, ms   milliseonds
#U, us   microseconds
#N       nanoseconds

In [36]:
#Create DatetimeIndex starting at Jan 1 2019 and continuing for 100 periods at frequency 'Secondly'
date = pd.date_range('1/1/2019', periods=100, freq='S')
date[0:5]

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:00:01',
               '2019-01-01 00:00:02', '2019-01-01 00:00:03',
               '2019-01-01 00:00:04'],
              dtype='datetime64[ns]', freq='S')

In [33]:
#Create a time series object indexing random numbers by date
time_series = pd.Series(np.random.randint(0, 500, len(date)), index = date)
time_series.head(5)

2019-01-01 00:00:00     55
2019-01-01 00:00:01    351
2019-01-01 00:00:02     67
2019-01-01 00:00:03    131
2019-01-01 00:00:04      4
Freq: S, dtype: int32

In [40]:
#Resample into 5minutely data collapsing into sum/mean
time_series.resample('5min').sum()
time_series.resample('5min').mean()

2019-01-01    253.53
Freq: 5T, dtype: float64

In [41]:
date = pd.date_range('3/6/2019 00:00', periods=5, freq='D')
date

DatetimeIndex(['2019-03-06', '2019-03-07', '2019-03-08', '2019-03-09',
               '2019-03-10'],
              dtype='datetime64[ns]', freq='D')

In [42]:
#Create a new series of random numbers indexed by date
time_series = pd.Series(np.random.randn(len(date)), date)
time_series

2019-03-06    0.625979
2019-03-07   -0.776336
2019-03-08   -0.051607
2019-03-09   -2.017282
2019-03-10    0.258095
Freq: D, dtype: float64

In [10]:
time_series

2019-03-06   -1.134124
2019-03-07    1.102958
2019-03-08   -0.681201
2019-03-09   -0.143604
2019-03-10   -0.563025
Freq: D, dtype: float64

In [44]:
#Turn time zone unaware data to time zone aware data
ts_utc = time_series.tz_localize('UTC')

In [45]:
ts_utc

2019-03-06 00:00:00+00:00    0.625979
2019-03-07 00:00:00+00:00   -0.776336
2019-03-08 00:00:00+00:00   -0.051607
2019-03-09 00:00:00+00:00   -2.017282
2019-03-10 00:00:00+00:00    0.258095
Freq: D, dtype: float64

In [15]:
#Convert to another time zone
ts_utc.tz_convert('US/Eastern')

2019-03-05 19:00:00-05:00   -1.134124
2019-03-06 19:00:00-05:00    1.102958
2019-03-07 19:00:00-05:00   -0.681201
2019-03-08 19:00:00-05:00   -0.143604
2019-03-09 19:00:00-05:00   -0.563025
Freq: D, dtype: float64

In [51]:
#Create a date range object with month frequency
date = pd.date_range('1/1/2019', periods=5, freq='M')

In [52]:
#Create a time series object indexed by the date
time_series = pd.Series(np.random.randn(len(date)), index=date)

In [53]:
time_series

2019-01-31    0.532999
2019-02-28   -0.641428
2019-03-31   -0.543657
2019-04-30   -0.319894
2019-05-31    0.148884
Freq: M, dtype: float64

In [58]:
#Period-index the time series object
ps = time_series.to_period()

In [21]:
ps

2019-01    1.399885
2019-02    0.091482
2019-03   -0.292281
2019-04    1.850194
2019-05   -0.502237
Freq: M, dtype: float64

In [59]:
#Time-stamp the period object
ps.to_timestamp()

2019-01-01    0.532999
2019-02-01   -0.641428
2019-03-01   -0.543657
2019-04-01   -0.319894
2019-05-01    0.148884
Freq: MS, dtype: float64

In [64]:
#Create a period range object
p_range=pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [65]:
#Create a time_series object indexed by by the period range object
time_series = pd.Series(np.random.randn(len(prng)), p_range)

In [94]:
#add a month to each ending month in period range object
add_month = p_range.asfreq('M', 'e')+1
add_month[0:5]

PeriodIndex(['1990-03', '1990-06', '1990-09', '1990-12', '1991-03'], dtype='period[M]', freq='M')

In [95]:
#Add hourly + 9 and secondly frequencies to the monthly frequencies 
time_series.index = add_month.asfreq('H', 's') + 9
ts.head()

1990-03-01 09:00   -0.548041
1990-06-01 09:00    0.780862
1990-09-01 09:00    1.069828
1990-12-01 09:00   -0.537155
1991-03-01 09:00    1.364926
Freq: H, dtype: float64

In [98]:
time_series.index[0:5]

PeriodIndex(['1990-03-01 09:00', '1990-06-01 09:00', '1990-09-01 09:00',
             '1990-12-01 09:00', '1991-03-01 09:00'],
            dtype='period[H]', freq='H')